---
- name: Update apt
  apt: state=present
  become: true

- name: Install tomcat.
  apt: name=tomcat9 state=present
  become: true

- name: Install tomcat-admin.
  apt: name=tomcat9-admin state=present
  become: true

- name: Adjust tomcat config
  template:
    dest: "/etc/tomcat9/tomcat-users.xml"
    src: ../files/tomcat-users.xml
    follow: yes
  become: true

- name: check tomcat
  shell: cat /etc/tomcat9/tomcat-users.xml
  become: true 

- name: start tomcat
  shell: systemctl start tomcat9
  become: true


  
- name: check tomcat
  shell: cd /etc/systemd/system/multi-user.target.wants && cat tomcat9.service

- name:  copying tomcat service file
  copy:
    src: ../files/tomcat9.service
    dest: /etc/systemd/system/multi-user.target.wants/tomcat9.service
    follow: yes
  become: true   

# - name: Start and enable Tomcat service
#   systemd:
#     name: tomcat9
#     state: restarted
#     enabled: true
#   become: true


- name: start reload
  shell:   systemctl daemon-reload
  become: true  

- name: start tomcat
  shell: systemctl restart tomcat9
  become: true
# - name: Creates directory for tomcat download
#   file:
#     path: "{{ tomcat_download_dir }}"
#     state: directory
#     owner: '{{work_user}}'
#   become: true

# - name: Creates directory for tomcat installation
#   file:
#     path: "{{ tomcat_install_dir }}"
#     state: directory
#     owner: '{{work_user}}'
#   become: true

# - name: Download tomcat.
#   get_url:
#     url: "{{ tomcat_download_url }}"
#     dest: "{{ tomcat_download_dir }}/apache-tomcat-{{ tomcat_version }}.tar.gz"


# - name: Expand tomcat.
#   unarchive:
#     src: "{{ tomcat_download_dir }}/apache-tomcat-{{ tomcat_version }}.tar.gz"
#     dest: "{{ tomcat_install_dir }}"
#     remote_src: true
#     creates: "{{ tomcat_install_dir }}/apache-tomcat-{{ tomcat_version }}/README.txt"


# - name: Copy tomcat file
#   template:
#     src: "../files/server.xml"
#     dest: "{{ tomcat_install_dir }}/apache-tomcat-{{ tomcat_version }}/conf/server.xml"
#     follow: yes


# - name: Adjust tomcat config
#   lineinfile:
#     path: "{{ tomcat_install_dir }}/apache-tomcat-{{ tomcat_version }}/conf/tomcat-users.xml"
#     line: '<user username={{ tomcat_user }} password={{ tomcat_password }} roles="admin-script,manager-gui,dspace"/>'
#     insertbefore: "^</tomcat-users>"
